<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  *********************************************************************************************************************
  
  NorthernWind - lightweight CMS
  http://northernwind.tidalwave.it - git clone https://bitbucket.org/tidalwave/northernwind-src.git
  %%
  Copyright (C) 2011 - 2021 Tidalwave s.a.s. (http://tidalwave.it)
  %%
  *********************************************************************************************************************
  
  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
  the License. You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
  an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations under the License.
  
  *********************************************************************************************************************
  
  
  *********************************************************************************************************************
  #L%
  -->

<web-app id="WebApp_ID" 
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>NorthernWind (Spring MVC Media Frontend)</display-name>

    <fragments>
        <fragment>configuration-listeners</fragment>
        <fragment>logging-listeners</fragment>
        <fragment>spring-listeners</fragment>
        <fragment>spring-mvc-servlet</fragment>
        <fragment>logback-admin</fragment>
        <fragment>jetty-gzip-filter</fragment>
        <fragment>nw-response-header-filter</fragment>
    </fragments>
    
</web-app>
