.nw-content {
    position: relative;
    width: 100%;
    
    margin: 0 auto 20px auto;
    padding: 0;
    
    text-align: left;
}
.nw-main {
    float: right;
    width: 100%;
    display: inline;
}

.nw-local {
    display: none;
}

.nw-sub {
    display: none;
}
.nw-nav {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    
    text-align: left;
}

