body 
  {
    background: #f0f0f0;
  }

.nw-content
  {
    background: none;
  }

.nw-page
  {
    border: none;
    background: none;
  }

a,
a:link,
a:visited 
  {
    color: #35569d;
  }

a:active
  {
    text-decoration: underline;
  }

.nw-nav 
  {
    background-color: none;
    top: -6px;
  }

.nw-addThis
  {
    position: absolute;
    right: 0px;
    top: -100px;
  }

.nw-nav a, .nw-nav a:link, .nw-nav a:active, .nw-nav a:visited
  {
    background: none;
    color: #35569d;   
    font-size: 1.5em;
  }
 
.nw-nav div.wrapper 
  {
    border-top: none;
    border-bottom: none;
  }

.nw-header 
  {
    background: url(http://services.tidalwave.it/infoglueCMS/digitalAssets/0/200_blueBill_Mobile-Banner.png) no-repeat top center;
    color: none;
    margin: 20px 0 14px;
    padding: 46px 10px;
  }

.nw-main 
  {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #bdbdbd;
    padding-top: 10px;
    margin-top: 20px;
    width: 980px;
    background-color: #ffffff;
  }

.nw-content
  {
    margin-bottom: 0px;
  }

.nw-footer 
  {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5px;
    background: none;
  }

.nw-sidebar .box
  {
    background-color: #f7f7f7;
  }

.nw-sidebar h2
  {
    color: #000000;
  }

.nw-sidebar a, 
.nw-sidebar a:active, 
.nw-sidebar a:link, 
.nw-sidebar a:visited 
  {
    color: #35569d;
  }

.nw-sidebar a:hover
  {
    color: #35569d;
  }

h2
  {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 30px;
  }

h3
  {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 15px;
  }

.small
  {
    font-size: 80%;
  }

.nw-main .publishDate, .nw-main .PublishDate  
  {
    top:-30px;
  }

.publishDate, .PublishDate 
  {
    font-family:Corbel,Optima,Arial,sans-serif;
    font-size:80%;
    margin-bottom:40px;
    position:relative;
    top:-10px;
  }
