body 
  {
    background: #909090;
  }

h3 
  {
    font-size: 110%;
  }

a,
a:link,
a:visited 
  {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    background: none;
  }

a:active
  {
    text-decoration: underline;
    color: orange;
    background: none;
  }

.nw-nav 
  {
    background: #c0c0c0;
  }

.nw-sidebar .box
  {
    padding: 8px 8px 8px 8px;
    margin-bottom: 10px;
  }

.nw-sidebar ul 
  {
    list-style: none;
    margin: 0; 
    padding: 0;
  }

.nw-sidebar li 
  {
    text-align: left;
    font-size: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
  }

.nw-sidebar a, 
.nw-sidebar a:active, div
.nw-sidebar a:link, 
.nw-sidebar a:visited 
  {
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
  }

.nw-sidebar a:hover
  {
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
  }

.nw-nav a,
.nw-nav a:link,
.nw-nav a:active,
.nw-nav a:visited 
  {
    text-align: left;
    padding: 5px 10px 5px 10px;
    background: #c0c0c0;
  }

.nw-nav li 
  {
    text-align: left;
    border-right: 0;
  }

.nw-local 
  {
    font-size: 80%;
  }

.nw-local h3.News
  {
    font-size: 120%;
  }

.nw-local h2.News
  {
  }

.nw-local p.News
  {
  }

.nw-page 
  {
    width: 1000px;
    background: white;
    border-left: 1px solid #000000 ;
    border-right: 1px solid #000000 ;
    border-bottom: 1px solid #000000 ;
  }

.nw-page 
  {
    margin: auto;
    width: 1000px;
    position:relative;
  }

.nw-content 
  {
    width: 1000px;
  }

.nw-breadcrumb 
  {
    text-align: right;
    width: 980px;
    padding-right: 20px;
    font-size: 80%;
  }

.nw-main 
  {
    width: 769px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px dashed #E0E0E0;
  }

.nw-local 
  {
    width: 190px;
    padding-left: 10px;
    padding-right: 10px;
  }

.nw-header 
  {
    margin: 0 0 14px 0;
    padding: 90px 20px;
    color: white;
  }

.nw-footer 
  {
    border-top: 1px dashed #E0E0E0;
    padding: 0px 206px;
    color: black;
    background-color: white;
    font-style:italic;
    text-align: left;
  }

.screen 
  {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-style: dotted;
    border-width: 1px;
    font-size: 130%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    overflow: hidden;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #e8e8e8 none repeat scroll 0 50%;
    border-color: #aaaaaa;
    line-height: 1.2em;
  }
